.layout {
    -fx-background-color: linear-gradient(
            from 100% 0% to 0% 100%,
            #ec8541 30%,
            #e78f51 90%
    );
    -fx-border-color: #ec8541;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
}

.layout-2 {
    -fx-background-color: #ffba6a;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
}

#imgPlato {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 2;
}
